# Environment configuration mixtral-8x7b-32768 llama3-70b-8192
AGENT_API_ENDPOINT=http://localhost:8000
MAX_CONCURRENT_AGENTS=5
LOG_LEVEL=INFO
DATA_STORAGE_PATH=./data/agents
GROQ_API_KEY=gsk_***
OPENAI_API_KEY=sk-***
LLM_MODEL=mixtral-8x7b-32768
TAVILY_API_KEY=tvly-***
